doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(name='author' content='Tiago José')
            meta(name='description' content='Natours Web App')
            link(rel="stylesheet" href="/css/style.css")
            link(rel="shortcut icon" href="/image/favicon.png" type="image/png")
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            title Natours | #{title}

    body
        //HEADER
        include _header

        //CONTENT
        block content

        //FOOTER
        include _footer

        block script